# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local env files
.env.local

# Dependencies
node_modules/

# Builds
dist/
!.dist-ssr
dist-ssr/
dist-zip/
*.local

# Editor
.idea/
.env*
!.env.development
!.env.production
!.env.example

# OS
.DS_Store
Thumbs.db